@font-face {
    font-family: calculator;
    src: url(./digital-7.ttf);
}

html {
	font-size: 62.5%;
}

/*
1rem = 10px
1.5rem = 15px
102.4rem = 1024px
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button {
    color: white;
}

p {
    margin-right: 1rem;
}

#container {
    background-color: black;
    border: rgb(66, 66, 66) 1rem solid;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 96rem;
    /* border: 1px black solid; */
    font-family: calculator;
    color: white;
}

#keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 40rem;
    border: 1px black solid;
}

#display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40rem;
    height: 10rem;
    font-family: inherit;
    font-size: 10rem;
    /* border: 1px black solid;
    border-bottom: 0px; */
    background-color: grey;
    border-bottom: rgb(66, 66, 66) 5px solid;
}

#digit-0 {
    flex-grow: 1;
}

.key {
    font-size: 6rem;
    width: 10rem;
    height: 8rem;
    font-family: inherit;
}

.digit {
    background-color: rgb(10, 60, 68);
}

.operator {
    background-color: rgb(212, 138, 0);
}

.other {
    background-color: rgb(50, 112, 255);
}